body{
	background: rgb(202,202,202);
}

#berto{
	font-size: 40px;
    left: 95px;
    top: 50px;
    position: fixed;
    text-align: center;
    width: 172px;
}

#vento{
	position: relative;
    top: 62px;
    left: 30px;

}

#arnaldo{
	font-size: 40px;
    left: 95px;
    top: 50px;
    position: fixed;
    text-align: center;
    width: 172px;
}

p1{
	left: -43px;
    position: relative;
}

p2{
	position: relative;
    left: 35px;
}


#tudo{
	left: 300px;
    position: absolute;
}

#caixa{
	font-size: 27px;
    position: fixed;
    left: 70px;
    top: 165px;
}

#empatou{
	font-size: 27px;
    position: fixed;
    left: 70px;
    top: 165px;
}

.teste{
	position: fixed;
	font-size: 100px;
	background: rgb(202,202,202);
	border: none;

}

#teste1{
	padding: 5px 68px;
	top: 50px;
	left: 321px;
	
}

#teste2{
	padding: 5px 68px;
	top: 50px;
	left: 462px;
}

#teste3{
	padding: 5px 68px;
	top: 50px;
	left: 605px;
}

#teste4{
	padding: 5px 68px;
	top: 181px;
	left: 321px;
}

#teste5{
	padding: 5px 68px;
	top: 181px;
	left: 462px;
}

#teste6{
	padding: 5px 68px;
	top: 181px;
	left: 605px;
}

#teste7{
	padding: 1px 68px;
	top: 313px;
	left: 321px;
}

#teste8{
	padding: 1px 68px;
	top: 313px;
	left: 462px;
}

#teste9{
	padding: 1px 68px;
	top: 313px;
	left: 605px;
}