
body{
	background: rgb(202,202,202);
}

#carro{
	width: 452px;
    height: 208px;
    position: relative;
    right: 19px;
}

h1{
    font-size: 78px;
    position: relative;
    left: 363px;
    top: 10px;

}

#caixaX{
    position: relative;
    left: 220px;
    top: 49px;
    text-align: center;
    display: inline-block;
    font-size: 38px;

}



#caixaO{
    position: relative;
    left: 257px;
    top: 49px;
    text-align: center;
    display: inline-block;
    font-size: 38px;

}

#funfa{
	position: fixed;
    display: inline-block;
    width: 470px;
    height: 458px;
    left: 335px;
    top: 100px;

}

#tudo{
	position: relative;
    bottom: 409px;
    left: 20px;
    height: 380px;
    width: 427px;
}

#coluna1{
    display: inline-block;
    position: relative;
    bottom: -1px;
    width: 452px;
}

#coluna2{
    display: inline-block;
    position: relative;
    bottom: -7px;
    width: 452px;
}

#coluna3{
    display: inline-block;
    position: relative;
    bottom: -14px;;
    width: 452px;
}

#coluna1, #coluna2, #coluna3{

	left: 2px;
}

.teste{
	position: relative;
    width: 136px;
    height: 125px;
    vertical-align: top;
    background: rgb(202,202,202);
    border: none;
    font-size: 120px;
    

}
#teste1, #teste4, #teste7{
	right: 1px;
}

#teste3, #teste6, #teste9{
    width: 143px;
	left: 2px;

}

#teste7, #teste8, #teste9{
	height: 115px;
}

#empatou p3{
    top: 156px;
    position: relative;
    color: red;
    font-size: 55px;
}

#play{
    position: relative;
    width: 427px;
    height: 380px;
    left: 355px;
    top: -59px;
    background: rgb(2, 1, 1);
    text-align: center;
}

button{
    position: relative;
    top: 168px;
    font-size: 66px;
    background: rgb(0 8 97);
    color: red;
    border: none;
    width: 200px;
    height: 96px;

}



